<section fxLayout="row" class="container">
    <div class="row">
        <article class="col-md-10">
            <h1><b>{{page.numeroChapitre}}</b></h1>
            <div id='page' [innerHTML]="page.chapitre"></div>
        </article>
        <aside class="col-md-2">
            <div id="numchap">
                <label for="nchap">Numéro de chapitre</label>
                <input type="text" class="form-control" id="nchap" [(ngModel)]="numChap">
                <button type="submit" class="btn btn-success" (click)="changeChap(numChap)">OK</button>
            </div>
            <p></p>
            <div id="jetde">
                <label>Jet de dé(s)</label>
                <button type="submit" class="btn btn-success " (click)="jetdedes(1)">un dé</button>
                <button type="submit" class="btn btn-success " (click)="jetdedes(2)">deux dé</button>
                <p>{{resultatDe}}</p>
            </div>
            <p></p>
            <div id='choixChap'>
            <label><b>Choisissez le chapitre :</b></label>
            <div class="row">
                <tr *ngFor="let pageSuivante of pageSuivanteTab" class="col-md-6">
                    <td>
                        <button type="submit" class="btn btn-success "
                            (click)="changeChap(pageSuivante)">{{ pageSuivante }}</button>
                    </td>
                </tr>
            </div>
        </div>
        </aside>
    </div>
</section>