<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div style="text-align:center">
    <h1 id="titre_pricipale">
      Le site dont vous êtes le héro
    </h1>
    <img width="600" alt="Angular Logo" src="https://www.babelio.com/users/liste_Lheroic-fantasy_1256.jpeg">
  </div>
</header>


<nav class = "container">
  <p><a routerLink="/collection-menu" routerLinkActive="active">Liste de collections</a></p>
</nav>
<!-- <app-page></app-page>
<app-livre-menu></app-livre-menu> -->
<router-outlet></router-outlet>